Package: luci-app-nbtverify
Version: 1.0.8-1
Depends: libc, jshn, luci-base
Source: https://github.com/nbtca/luci-app-nbtverify
SourceName: luci-app-nbtverify
License: GPL-2.0-only
Section: luci
SourceDateEpoch: __SOURCE_DATE_EPOCH__
URL: https://github.com/nbtca/luci-app-nbtverify
Maintainer: nbtca <https://github.com/nbtca>
Architecture: aarch64_cortex-a53
Installed-Size: __INSTALLED_SIZE__
Description:  NBTVerify campus network authentication client with LuCI2 web interface. Detects offline campus network via ping URL and authenticates automatically.
